.button{
    border: solid 3px $black;
    padding: 15px 25px;
    color: $black;
    text-decoration: none;
    font-family: "InterVariableFont", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    background: $white;
}
