.form{
    margin: 50px 40px;
    label{
        font-family: "Inter-VariableFOnt",sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: $color2;
    padding: 10px 0 10px 0;
    font-weight: 700;
    letter-spacing: 2px;
    }
    div{
        margin: 10px;
    }
    input, textarea{
        background: none;
        border: solid 1px $color3;
        border-radius: 3px;
        width: 100%;
        resize: none;
        margin: 10px 0 10px 0;
    }
    input{
        height: 40px;
    }
    textarea{
        height: 150px;
    }
    button{
        border-color: $color2;
        color: $color2;
        margin-bottom: 0;
    }
    

}