header{
    text-align: center;
    margin: 150px auto;
    max-width: 800px;


        h1{
            font-family: "Inter-VariableFont", sans-serif;
            text-transform: uppercase;
            font-size: 4rem;
            max-width: 550px;
            margin: 10px auto;
            color: $white; 
        }
        p{
            font-family: "Merriweather-light", sans-serif;
            color: $white;
            font-style: italic;
            font-size: 1.1rem;
        }
        
        i{
            font-size: 3.5rem;
            margin-top: 50px;
            color: $white;

        }
        
}