.articles-container{
    background: $white;
    max-width: 1100px;
    margin: 0 auto; 
}
.section1{
    text-align: center;
    padding: 50px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: $color3;
        left: 0;
        bottom: 0;
    }
    .date{
        padding-top: 50px;
        font-size: 1rem;
        font-family: "merriweather-light";
        color: $color2;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 35%;
            height: 1px;
            background: $color3;
            bottom: 10px;
            left: 50px;
        }
        &::after{
            content: "";
            position: absolute;
            width: 35%;
            height: 1px;
            background: $color3;
            bottom: 10px;
            right: 50px;
        }
    }
    h2{
        font-family: "InterVariableFont", sans-serif;
        text-transform: uppercase;
        font-size: 4rem;
        max-width: 650px;
        margin: 50px auto 30px auto;
    }
    .text-1{
        color: $color2;
        font-size: 1rem;
        max-width: 650px;
        margin: 0 auto;
        line-height: 30px;
        font-style: italic;
    }
    .pic-01{
        background: url(/assets/images/pic01.jpg)center/cover;
        height: 500px;
        width: 80%;
        margin: 50px auto;
    }
}
.sections-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 30px;
    padding-top: 50px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: $color3;
        left: 50%;
        bottom: 0;
    }

    .section-part{
        .date-section-2{
            font-size: 0.8rem;
            font-family: "Merriweather-light", sans-serif;
            margin: 0 auto;
        }
        h3{
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: "Inter-VariableFont", sans-serif;
            max-width: 250px;
            margin: 10px auto;
            color: $color2;
        }
        .pic02{
            background: url(/assets/images/pic02.jpg);
            margin: 20px auto;
            max-width: 80%;
            height: 350px;
            width: 80%;
            
        }
        .pic03{
            background: url(/assets/images/pic03.jpg);
            margin: 20px auto;
            height: 350px;
            width: 80%;
        }
        .text2{
            max-width: 80%;
            margin: 0 auto 50px auto;
            font-size: 1rem;
            text-align: justify;
            color: $color2;
        }
    }
}
