$black: rgb(25, 25, 25);
$white: rgb(241 241 241);
$color1: rgb(235, 235, 235);
$color2: rgb(100, 100, 100);
$color3: rgb(206, 206, 206);

@font-face {
    font-family: "Inter-VariableFont";
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: "Merriweather-Light";
    src: url(/assets/fonts/Merriweather-Light.ttf);

}