@import "./styles/layout/settings";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./styles/layout/body";
@import "./styles/layout/header";
@import "./styles/layout/navbar";
@import "./styles/layout/footer";
@import "./styles/componants/button";
@import "./styles/componants/form";
